<header>
  <nav class="top-nav">
    <div class="nav-logo">
      <a href="../index.html">
        <img src="../images/logo.png" alt="Logo" class="logo" />
      </a>
    </div>
    <button class="burger-menu" aria-label="Toggle menu" aria-expanded="false">
      <span></span>
      <span></span>
      <span></span>
    </button>
    <ul class="nav-links">
      <li><a href="../index.html#upcoming">Upcoming</a></li>
      <li><a href="../index.html#merch">Merch</a></li>
      <li><a href="../index.html#tours">Tours</a></li>
      <li><a href="index.html">Artists</a></li>
      <li><a href="../index.html#contact">Contact</a></li>
    </ul>
    <div class="social-icons">
      <a href="#" aria-label="Facebook"
        ><i class="fa-brands fa-facebook"></i
      ></a>
      <a href="#" aria-label="Instagram"
        ><i class="fa-brands fa-instagram"></i
      ></a>
      <a href="#" aria-label="Spotify"><i class="fa-brands fa-spotify"></i></a>
      <a href="#" aria-label="Soundcloud"
        ><i class="fa-brands fa-soundcloud"></i
      ></a>
      <a href="#" aria-label="YouTube"><i class="fa-brands fa-youtube"></i></a>
      <a href="#" aria-label="Twitter"
        ><i class="fa-brands fa-x-twitter"></i
      ></a>
    </div>
  </nav>
</header>
